.Rproj.user
.Rhistory
.Rprofile
docs
fix_twittercard.R
renv.lock
renv
revdep
vignettes/binomial_cache
vignettes/comparison_cache
vignettes/packages_cache
vignettes/poisson_cache
vignettes/priors_cache
vignettes/varying_cache
vignettes/variance_cache
vignettes/arma_cache